<app-add-product-form (hAddProduct)="addProduct($event)"></app-add-product-form>
<label class="row center v-center mb-1">
  <h4 class="m-0">Set Dark cells</h4>
  <input type="checkbox" [(ngModel)]="isDarkCell">
</label>

<div class="row">
  <table [switch-color]="isDarkCell">
    <thead>
    <tr>
      <th></th>
      <th>№</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let product of getProducts; let i = index; let odd = odd; let last = last;"
      [style.background]="odd ? '#dbdbdb' : '#f1f1f1'"
      [pa-attr]="last"
    >
      <td>
        <label>
          <input type="checkbox" [(ngModel)]="product.isChecked">
        </label>
      </td>
      <td>{{ i + 1 }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button (click)="removeProduct(product.id)" [disabled]="!product.isChecked">DELETE</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
