<app-add-product-form (hAddProduct)="addProduct($event)"></app-add-product-form>
<div class="row">
  <table>
    <thead>
    <tr>
      <th></th>
      <th>№</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let product of getProducts; let i = index; let odd = odd;"
      [style.background] = "odd ? '#dbdbdb' : '#f1f1f1'"
    >
      <td>
        <input type="checkbox" [(ngModel)]="product.isChecked">
      </td>
      <td>{{ i + 1 }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button (click)="removeProduct(product.id)" [disabled]="!product.isChecked">DELETE</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
