<div class="row mb-1">
  <label>
    <input type="text" [(ngModel)]="title" placeholder="Product title">
  </label>
  <label>
    <input type="text" [(ngModel)]="description" placeholder="Product description">
  </label>
  <label>
    <input type="number" [(ngModel)]="price" placeholder="Product price">
  </label>
  <button (click)="addProduct()">Add</button>
</div>
<div class="row">
  <table>
    <thead>
    <tr>
      <th></th>
      <th>№</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of getProducts">
      <td>
        <input type="checkbox" [(ngModel)]="product.isChecked">
      </td>
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button (click)="removeProduct(product.id)" [disabled]="!product.isChecked">DELETE</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
