<form
  novalidate
  #formEl="ngForm"
  (ngSubmit)="addProduct({ title: titleEl, price: priceEl }, formEl)"
  class="row mb-1"
>
  <label>
    <input
      #titleEl="field-value"
      name="title"
      type="text"
      [(field-value)]="title"
      (focus)="isValidTitle = true"
      placeholder="Product title"
      required
      minlength="2"
      [class.isErrors]="!isValidTitle"
    >
  </label>
  <label>
    <input name="description" type="text" [(ngModel)]="description" placeholder="Product description">
  </label>
  <label>
    <input
      #priceEl="ngModel"
      name="price"
      type="number"
      [(ngModel)]="price"
      (focus)="isValidPrice = true"
      placeholder="Product price"
      required
      minlength="1"
      [class.isErrors]="!isValidPrice"
    >
  </label>
  <button type="submit">Add</button>
</form>
