/* You can add global styles to this file, and also import other style files */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left {
  justify-content: flex-start;
}

.mb-1 {
  margin-bottom: 1rem;
}
.regular {
  font-weight: initial;
}
.last {
  font-weight: bold;
}
